<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Braviz Subject Switcher</title>
    <link href="{{ static_url("bootstrap-3.3.4/css/bootstrap.min.css") }}" rel="stylesheet">

    <style>
        body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-switch {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


.form-switch .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-switch .form-control:focus {
  z-index: 2;
}
.form-switch button,select {
 margin-bottom:10px;
}
    </style>


</head>
<body>
<h1 class="text-center">
Braviz Subject
</h1>

<form class="form-switch" action="javascript:void(0);">
<label for="sample">Sample:</label>
<select class="form-control" id="sample" name="sample_select">
    <option selected="selected" disabled>Choose subsample</option>
    {% for s in samples %}
    <option value="{{ s[0] }}">{{ escape(s[1]) }}</option>
    {% end %}
</select>
<label for="current_subject">Subject:</label>
<button class="btn btn-lg btn-primary btn-block" id="prev">
    Previous
</button>
<select class="form-control input-lg" id="current_subject" name="current_subject">
    <option selected="selected" disabled>Choose subject</option>
    {% for s in subjs %}
    <option value="{{ escape(s) }}">{{ escape(s) }}</option>
    {% end %}
</select>
<button class="btn btn-lg btn-primary btn-block" id="next">
    Next
</button>
</form>
<script src="{{ static_url ("jquery-2.1.3.min.js") }}"></script>
<script src="{{ static_url ("bootstrap-3.3.4/js/bootstrap.min.js") }}"></script>
<script>
    // set sample
    var sample_select = $("#sample");

    sample_select.val({{sample_id}});

    var ws = null;
    var subject_select= $("#current_subject");

    function send_message(value){
        console.log("sending .... subject: "+value);
        var msg=JSON.stringify({"subject":value})
        if (ws) {
        ws.send(msg);
        }
    }

    function set_selection(value, send_msg){
    subject_select.val(value);
    if (send_msg){
        send_message(value);
    }
    }

    function next_subject(){
        var current=subject_select.val();
        if (current==null){
            var first_val=subject_select.children("option:eq(1)").val();
            set_selection(first_val,true);
            return;
        }
        var selector='option[value="'+current+'"]';
        var current_selection=subject_select.children(selector);
        var next_subj=current_selection.next().val();
        if (!next_subj){
            var first_val=subject_select.children("option:eq(1)").val();
            set_selection(first_val,true);
            return;
        }
        set_selection(next_subj,true);
    }

    function prev_subject(){
        var current=subject_select.val();
        if (current==null){
            var last_val=subject_select.children("option:eq(-1)").val();
            set_selection(last_val,true);
            return;
        }
        var selector='option[value="'+current+'"]';
        var current_selection=subject_select.children(selector);
        var prev_subj=current_selection.prev();
        if (prev_subj.is("[disabled]")){
            var last_val=subject_select.children("option:eq(-1)").val();
            set_selection(last_val,true);
            return;
        }
        prev_subj=prev_subj.val();
        set_selection(prev_subj,true);
    }


    subject_select.change(function(){send_message(subject_select.val())});
    $("#prev").click(prev_subject);
    $("#next").click(next_subject);

    function change_sample(){
    document.location.assign(window.location.pathname+"?sample="+sample_select.val());
    }

    sample_select.change(change_sample);

//---------------------------------connection--------------------------------------
 var errorSleepTime = 500;
 function openWS() {
    var address = "ws://" + window.location.host + "/messages_ws";
    ws = new WebSocket(address);
    ws.onerror=function () {
    if (errorSleepTime < 5000){
    errorSleepTime*=2;
    }
    }
    ws.onmessage = function(e) {
      message = JSON.parse(e.data);
      var code = message.subject;
      if (code != null){
               set_selection(code,false);
        }
    };
    ws.onclose = function(e) {
      window.setTimeout(openWS, errorSleepTime);
    };
  }

$(function (){openWS();})

</script>
</body>
</html>